th{background-color:#D1D3D4;width:100px;height:40px;
  border-radius:20px;}
.pink{background-color:#FCE8E7;border-radius:20px;}
.blue{background-color:#D5F1FE;text-align: center;
border-radius: 50%;width:40px;height:40px;}
.bo{border:5px solid;border-color:#fff;}
